/* TRANSACTION CONTENT */

.transaction-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* TRANSACTION CONTENT */

/* TRANSACTION FORM */

.transaction-form {
    background-color: aquamarine;
}

/* TRANSACTION FORM */
